<section id="quote" class="quote">
    <div class="color-overlay">
      <div class="container">
      <div class="row">
        <div class="col-sm-12">
        <h3 class = "white text-center title">
          Há 17 anos no mercado trabalhando para te deixar cada dia mais bonita!
        </h3>
      <!-- blockquote end -->
        </div>
      </div>
    </div>
    </div>
  <!-- /.color-overlay end -->
</section>
<section id="services" class="section">
  <div class="container">
    <div class="row text-center title">
      <h2>Produtos</h2>
      <h4 class="light muted">Toda semana temos novas peças lindas e exclusivas!</h4>
      <br>
    </div>
    <div class="row gallery">
      <div class="col-sm-3">
        <img class= "img-responsive" src="assets/products/brinco1.jpg" alt="">
      </div>
      <div class="col-sm-3">
        <img class= "img-responsive" src="assets/products/brinco2.jpg" alt="">
      </div>
      <div class="col-sm-3">
        <img class= "img-responsive" src="assets/products/laco.jpg" alt="">
      </div>
      <div class="col-sm-3">
        <img class= "img-responsive" src="assets/products/brinco4.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<section class="section section-padded gold-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="item text-center">
              <i class="icon fa fa-facebook"></i>
              <h4 class="black light">Curta nossa página no facebook e fique por dentro de todas os lançamentos!</h4>
            </div>
        </div>
      </div>
    </div>
  </section> 